ion-label {
  text-align: center;
}

ion-title {
  text-align: center;
}

ion-note {
  font-size: -webkit-xxx-large!important;
}

p {
  text-transform: capitalize;
  font-size: large;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered .ng-enter {
  -webkit-animation: swing 1s;
  animation: swing 1s;
}

.pill-image {
  background-image: url('../assets/pill.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.centrehorizontally {
  left: 50%;
  transform: translate(-50%);
}
